:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;

    --background-color: #2e2e2e;
    --titlebar-color: #1e1e1e;
    --accent-color: #f00;
}